@font-face {
    font-family: "Muller";
    font-weight: 400;
    src: url(/fonts/MullerRegular.woff) format("woff"),
        url(/fonts/MullerRegular.woff2) format("woff2");
}

@font-face {
    font-family: "Muller";
    font-weight: 500;
    src: url(/fonts/MullerMedium.woff) format("woff"),
        url(/fonts/MullerMedium.woff2) format("woff2");
}

@font-face {
    font-family: "LetoSans";
    font-weight: 400;
    src: url(/fonts/LetoSansRegular.woff) format("woff"),
        url(/fonts/LetoSansRegular.woff2) format("woff2");
}

@font-face {
    font-family: "LetoSans";
    font-weight: 700;
    src: url(/fonts/LetoSansBold.woff) format("woff"),
        url(/fonts/LetoSansBold.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;

}

:root {
    --primary: #182B5A;
}

a {
    text-decoration: none;
}

.logo {
    width: 42;
    height: 49;

}

.header-line {
    margin-left: 100px;
    width: auto;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-info {
    display: flex;
    align-items: center;
}

.header-info>img {
    margin-right: 20px;
    margin-top: -10px;
}

.header-name {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.38rem;
    font-family: LetoSans;
    font-weight: 400;
}

.navbar {
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 700;
}

.navbar li {
    display: inline-block;
    margin-right: 49px;
    position: relative;
}


.navbar li:last-child {
    margin-right: 100px;
}

.navbar li a {
    color: #000000;
}

.navbar li a::before {
    content: "";
    bottom: -32px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transition: 0.2s;
    transform: scaleX(0);
}

.navbar li a:hover::before {
    transform: scaleX(1);
}

.navbar li a:hover {
    color: #383838;
}

.slider {
    position: relative;
    width: 100%;
    height: 774px;
    background-size: cover;
    overflow: hidden;

}



.navigation {
    bottom: 50px;
    position: absolute;
    left: 175px;

    transform: translateX(-50%);
    display: flex;
}

.bar {
    position: relative;

    height: 4px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #000000;
    opacity: 0.5;
    transition: all .4s ease;
}



.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
}


input[name="item"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all 0.6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#i1:checked~.s1 {
    margin-left: 0;
}


#i2:checked~.s1 {
    margin-left: -25%;
}

#i3:checked~.s1 {
    margin-left: -50%;
}

#i4:checked~.s1 {
    margin-left: -75%;
}

.container-one-info {
    margin-left: 100px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 40%;
}


.container-one-text {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary);
    font-family: Noto Sans;

}

.container-one-btn {
    z-index: 2;
    text-transform: uppercase;
    background-color: transparent;
    padding: 13px 34px;
    top: 50%;

    font-size: 1rem;
    font-family: LetoSans;
    font-weight: 400;
    border: solid 3px;
    border-color: var(--primary);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.1s linear;

}

.container-one-btn:hover {
    background-color: var(--primary);
    color: #fff;
    transform: scale(0.95);
}


.images {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 739px;
}




.BackImg1 {
    width: 54%;
    height: 739px;
    background-image: url(/img/largeOfficeBuildings.png);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}



.vectorOne {
    background-image: url(/img/vectorTwo.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 88%;
    height: 130px;
    z-index: 2;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3s ease;

}

.HoverDivOne {
    position: absolute;
    width: 54%;
    height: 739px;
    z-index: 5;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    background-color: rgba(24, 43, 90, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.HoverDivOne:hover {
    opacity: 1;
}

.HoverDivOne:hover~.BackImg1 .vectorOne {
    transform: translateY(100%);
}

.positionOne {
    margin-left: 18%;
    margin-top: 30%;
    display: block;
    justify-content: center;
}

.Text-one {
    z-index: 5;
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
}

.BtnOne {
    font-size: 1rem;
    font-family: Noto Sans;
    font-weight: 400;
    background-color: transparent;
    border: solid 3px;
    border-color: #fff;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin-left: 11%;
    text-transform: uppercase;
    width: 320px;
    height: 55px;
}

.BtnOne:hover {
    transition: 0.1s linear;
    background-color: #fff;
    color: var(--primary);
    transform: scale(0.95);
    font-weight: 500;
}

.vectorTwo {
    background-image: url(/img/vectorTwo.svg);
    position: absolute;
    top: 0;
    right: 0;
    width: 88%;
    height: 130px;
    z-index: 2;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.HoverDivTwo {
    position: absolute;
    top: 0;
    right: 0;
    width: 54%;
    height: 739px;
    z-index: 2;
    background-color: rgba(24, 43, 90, 0.9);
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.HoverDivTwo:hover {
    opacity: 1;
}

.HoverDivTwo:hover~.BackImg2 .vectorTwo {
    transform: translateY(-100%);
}

.positionTwo {
    position: absolute;
    right: 0;
    margin-right: 29%;
    margin-top: 30%;
    display: block;
    justify-content: center;
}

.Text-two {
    z-index: 5;
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
}

.BtnTwo {
    font-size: 1rem;
    font-family: Noto Sans;
    font-weight: 400;
    background-color: transparent;
    border: solid 3px;
    border-color: #fff;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin-left: 8%;
    text-transform: uppercase;
    width: 320px;
    height: 55px;
}

.BtnTwo:hover {
    transition: 0.1s linear;
    background-color: #fff;
    color: var(--primary);
    transform: scale(0.95);
    font-weight: 500;
}

.BackImg2 {
    width: 54%;
    height: 739px;
    background-image: url(/img/houseIsolatedInTheField.png);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}



.imgOneText {

    z-index: 3;
    bottom: 0;
    left: 0;
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    color: #fff;

}

.imgTwoText {
    z-index: 3;
    top: 0;
    right: 0;
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    color: #fff;
}

.border-container {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    z-index: 3;
    clip-path: polygon(53.5% 0, 54% 0, 46% 100%, 45.5% 100%);
    pointer-events: none;
}

.container-three {
    display: flex;
    height: 740px;
}

.pictures {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}

.infoText {
    left: 56px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 56px;

}

.h1 {
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    padding-bottom: 30px;
}

.infoText p {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;

}

.text {
    line-height: 27px;
    margin-bottom: 25px;
    width: 86%;
}

.aboutBtn {
    font-family: Noto Sans;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
    width: 165px;
    height: 50px;
    border: 3px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    transition: 0.1s linear;
}

.aboutBtn:hover {
    background-color: var(--primary);
    color: #fff;
    transform: scale(0.95);
}

.backPicture {
    background-color: var(--primary);
    position: absolute;
    margin-left: 12%;
    margin-top: 100px;
    width: 760px;
    height: 510px;
    z-index: 3;
}

.mainPicture {
    background-color: var(--primary);
    position: absolute;
    margin-left: 19%;
    margin-top: 130px;
    width: 760px;
    height: 510px;
    z-index: 4;
}

.container-four {
    height: 498px;
    width: auto;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    background-position: bottom left 70px, bottom right 140px;
    background-image: url(/img/contactsBack1.svg), url(/img/contactsBack2.svg);
    background-repeat: no-repeat;
}

.containerInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inputText {
    text-align: center;
    font-family: Noto Sans;
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 43px;
    padding-left: 30px;
    text-indent: 10px;
}

.inputBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameInp {
    width: 415px;
    height: 55px;
    color: var(--primary);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 20px;
}

.phoneInp {
    width: 415px;
    height: 55px;
    color: var(--primary);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 20px;
}

.agreementinfo {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.CheckInp {
    margin: 0px 10px;
    width: 24px;
    height: 24px;
}

.agreementText {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.agreementText>a {
    text-decoration: underline;
    color: #fff;
}

.sendBtn {
    color: #FEFEFE;
    font-family: Noto Sans;
    font-size: 1rem;
    font-weight: 400;
    width: 175px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    border: 3px solid #fff;
    transition: 0.1s linear;
}

.sendBtn:hover {
    background-color: #fff;
    color: var(--primary);
    font-weight: 500;
    transform: scale(0.95);
}

.container-five {
    display: flex;

}

.Map {
    width: 50%;
    height: 392px;
}

.containerMapInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#MapText {
    width: 100%;
    padding-left: 107px;
    left: 0;
    text-align: left;
    font-family: Noto Sans;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary);
    margin-top: -20px;
}

.mapInfo {
    display: grid;
    width: 100%;
    padding-left: 107px;
    grid-template-columns: 1fr 0.7fr;
    align-content: center;
    grid-column-gap: 10px;

}

.mapInfoContainerOne {
    display: grid;
    grid-template-columns: 6% 94%;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    color: #000;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;

}

.mapInfoContainerOne a {
    text-decoration: underline;
    color: black;
}

.placeInfoText .br2 {
    display: none;
}

.placeInfoText .br1 {
    display: none;
}

.mapInfoContainerTwo {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(4, 30px);
    grid-column-gap: 12px;
    grid-row-gap: 5px;
    color: #000;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
}

.mapInfoContainerTwo>span {
    color: var(--primary);
}

footer {
    height: 273px;
    background-image: url(/img/footerBack.svg);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerText {
    margin-left: 100px;
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}


@media (max-width: 1685px) {
    .mainPicture {
        margin-left: 10%;
        width: 650px;
        height: 500px;
    }

    .backPicture {
        margin-left: 3%;
        width: 650px;
        height: 500px;
    }

    #MapText {
        font-size: 1.9rem;
    }

    .placeInfoText .br2 {
        display: block;
    }

    .mapInfoContainerOne {
        display: grid;
        grid-template-columns: 6% 94%;
        grid-template-rows: 40px 25px 25px 25px;
        grid-column-gap: 19px;
        grid-row-gap: 5px;
        color: #000;
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;

    }

    .mapInfo {
        display: grid;
        width: 100%;
        padding-left: 107px;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        grid-column-gap: 10px;

    }

    .mapInfoContainerTwo {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: repeat(4, 30px);
        grid-column-gap: 19px;
        grid-row-gap: 5px;
        color: #000;
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;
    }

    .positionTwo {
        position: absolute;
        right: 0;
        margin-right: 24%;
        margin-top: 32%;
        display: block;
        justify-content: center;
    }

    .positionOne {
        margin-left: 17%;
        margin-top: 32%;
        display: block;
        justify-content: center;
    }


}

@media (max-width: 1617px) {
    .placeInfoText .br1 {
        display: block;
    }

    .mapInfoContainerOne {
        grid-template-rows: 60px 25px 25px 25px;
    }

}

@media (max-width: 1485px) {
    .mapInfoContainerOne {
        grid-template-rows: 60px 25px 25px 25px;
    }

    #MapText {
        font-size: 1.7rem;
    }

}


@media (max-width: 1370px) {
    .container-one-text {
        font-size: 2.25rem;
        font-weight: 700;
        color: var(--primary);
        font-family: Noto Sans;

    }

    .container-one-info {
        margin-left: 100px;
        display: block;
        position: absolute;
        z-index: 2;
        top: 40%;
    }


    .slider {
        position: relative;
        width: 100%;
        height: 600px;
        background-size: cover;
        overflow: hidden;
    }


    .navbar li {
        display: inline-block;
        margin-right: 25px;
        position: relative;
    }

    .logo {
        width: 36px;
        height: 42px;

    }

    .header-name {
        font-size: 20px;
    }

    .navbar {
        font-size: 15px;
    }

    .header-line {
        height: 80px;
    }

    .header-info>img {
        margin-right: 14px;
    }

    .navbar li a::before {
        bottom: -29px;
    }

    .imgOneText {

        font-size: 1.5rem;
    }

    .imgTwoText {

        font-size: 1.5rem;

    }

    .mainPicture {
        margin-left: 10%;
        width: 553px;
        height: 435px;
        margin-top: 150px;
    }

    .backPicture {
        margin-left: 2%;
        width: 553px;
        height: 435px;
        margin-top: 120px;
    }

    .infoText {
        left: 56px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        margin-top: -5%;

    }

    .h1 {
        font-size: 2.2rem;
        font-family: Noto Sans;
        font-weight: 500;
        padding-bottom: 10px;
    }

    .aboutBtn {
        font-family: Noto Sans;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        margin-top: 2px;
        width: 165px;
        height: 50px;
        border: 3px solid var(--primary);
        background-color: transparent;
        color: var(--primary);
        transition: 0.1s linear;
    }

    .text {
        /* height: 251px; */
        line-height: 25px;
        margin-bottom: 20px;
        width: 86%;
    }

    .positionTwo {
        position: absolute;
        right: 0;
        margin-right: 18%;
        margin-top: 35%;
        display: block;
        justify-content: center;
    }

    .positionOne {
        margin-left: 13%;
        margin-top: 35%;
        display: block;
        justify-content: center;
    }

    .mapInfo {
        display: grid;
        width: 100%;
        padding-left: 107px;
        grid-template-columns: 1fr;
        align-content: center;
        grid-column-gap: 10px;

    }

    .placeInfoText .br2 {
        display: none;
    }

    .placeInfoText .br1 {
        display: none;
    }

    .inputText {
        text-align: center;
        font-family: Muller;
        font-size: 2.2rem;
        font-weight: 500;
        color: #fff;
        margin-bottom: 43px;
        padding-left: 30px;
        text-indent: 10px;
    }

    .container-four {
        height: 498px;
        width: auto;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        background-position: bottom left 15px, bottom right 40px;
        background-image: url(/img/contactsBack1.svg), url(/img/contactsBack2.svg);
        background-repeat: no-repeat;
    }

    .mapInfoContainerOne {
        display: grid;
        grid-template-columns: 6% 94%;
        grid-template-rows: repeat(4, 15px);
        grid-column-gap: 10px;
        grid-row-gap: 25px;
        color: #000;
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;

    }

    .mapInfoContainerTwo {
        display: grid;
        grid-template-columns: 7% 90%;
        grid-template-rows: repeat(4, 25px);
        grid-column-gap: 12px;
        grid-row-gap: 15px;
        color: #000;
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 4%;
    }

    .Map {
        width: 50%;
        height: 489px;
    }

    #MapText {
        width: 100%;
        padding-left: 107px;
        left: 0;
        text-align: left;
        font-family: Noto Sans;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 31px;
        color: var(--primary);
        margin-top: 59px;
    }

    .containerMapInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: initial;
    }


}

@media (max-width: 1252px) {
    .positionOne {
        margin-left: 10%;
        margin-top: 20%;
        display: block;
        justify-content: center;
    }

    .positionTwo {
        position: absolute;
        right: 0;
        margin-right: 15%;
        margin-top: 38%;
        display: block;
        justify-content: center;
    }

    .mainPicture {
        margin-left: 10%;
        width: 460px;
        height: 420px;
        margin-top: 180px;
    }

    .backPicture {
        margin-left: 2%;
        width: 460px;
        height: 420px;
        margin-top: 150px;
    }

    .h1 {
        font-size: 2.2rem;
        font-family: Noto Sans;
        font-weight: 500;
        padding-bottom: 5px;
    }

    .infoText {
        left: 56px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        margin-top: 0%;

    }

}

@media (max-width: 1090px) {
    .positionOne {
        margin-left: 10%;
        margin-top: 18%;
        display: block;
        justify-content: center;
    }

    .positionTwo {
        position: absolute;
        right: 0;
        margin-right: 24%;
        margin-top: 18%;
        display: block;
        justify-content: center;
    }

    .HoverDivOne {
        position: absolute;
        width: 54%;
        height: 332px;
        z-index: 5;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        background-color: rgba(24, 43, 90, 0.9);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .HoverDivTwo {
        position: absolute;
        top: 0;
        right: 0;
        width: 55%;
        height: 332px;
        z-index: 2;
        background-color: rgba(24, 43, 90, 0.9);
        clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .images {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 322px;
    }

    .vectorOne {
        background-image: url(/img/vectorTwo.svg);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 88%;
        height: 56px;
        z-index: 2;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(0);
        transition: transform 0.3s ease;

    }

    .vectorTwo {
        background-image: url(/img/vectorTwo.svg);
        position: absolute;
        top: 0;
        right: 0;
        width: 88%;
        height: 56px;
        z-index: 2;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(0);
        transition: transform 0.3s ease;
    }

    .imgOneText {

        z-index: 3;
        bottom: 0;
        left: 0;
        font-size: 1rem;
        font-family: Noto Sans;
        font-weight: 400;
        color: #fff;

    }

    .imgTwoText {
        z-index: 3;
        top: 0;
        right: 0;
        font-size: 1rem;
        font-family: Noto Sans;
        font-weight: 400;
        color: #fff;
    }

    .Text-one {
        z-index: 5;
        font-size: 1.7rem;
        font-family: Noto Sans;
        font-weight: 500;
        color: #fff;
        margin-bottom: 25px;
    }

    .BtnOne {
        font-size: 0.8rem;
        font-family: Noto Sans;
        font-weight: 400;
        background-color: transparent;
        border: solid 3px;
        border-color: #fff;
        text-align: center;
        cursor: pointer;
        color: #fff;
        margin-left: 11%;
        text-transform: uppercase;
        width: 262px;
        height: 45px;
    }

    .Text-two {
        z-index: 5;
        font-size: 1.5rem;
        font-family: Noto Sans;
        font-weight: 500;
        color: #fff;
        margin-bottom: 25px;
    }

    .BtnTwo {
        font-size: 0.8rem;
        font-family: Noto Sans;
        font-weight: 400;
        background-color: transparent;
        border: solid 3px;
        border-color: #fff;
        text-align: center;
        cursor: pointer;
        color: #fff;
        margin-left: 0%;
        text-transform: uppercase;
        width: 262px;
        height: 45px;
    }


    .navbar li {
        display: inline-block;
        margin-right: 23px;
        position: relative;
    }

    .navbar {
        font-size: 13px;
    }

    .logo {
        width: 27px;
        height: 32px;
    }

    .header-name {
        font-size: 16px;
    }

    .header-line {
        height: 56px;
    }

    .header-info>img {
        margin-right: 12px;
    }

    .navbar li a::before {
        bottom: -20px;
    }

    .slider {
        position: relative;
        width: 100%;
        height: 630px;
        background-size: cover;
        overflow: hidden;

    }

    .container-one-text {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--primary);
        font-family: Noto Sans;
    }

    .container-one-btn {
        z-index: 2;
        text-transform: uppercase;
        background-color: transparent;
        padding: 13px 30px;
        top: 50%;

        font-size: 0.87rem;
        font-family: LetoSans;
        font-weight: 400;
        border: solid 3px;
        border-color: var(--primary);
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.1s linear;

    }

    .navbar {
        text-transform: uppercase;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        font-size: 0.87rem;
        font-family: Roboto;
        font-weight: 700;
    }

    .header-line {
        margin-left: 30px;
        width: auto;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar li {
        display: inline-block;
        margin-right: 39px;
        position: relative;
    }

    .navbar li:last-child {
        margin-right: 38px;
    }

    .BackImg1 {
        width: 54%;
        height: 332px;
        background-image: url(/img/largeOfficeBuildings.png);
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    .BackImg2 {
        width: 54%;
        height: 332px;
        background-image: url(/img/houseIsolatedInTheField.png);
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
        top: 0;
        right: 0;
        position: absolute;
        overflow: hidden;
    }

    .container-three {
        display: flex;
        height: 530px;
    }

    .infoText {
        left: 56px;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 56px;

    }

    .pictures {
        position: relative;
        width: 35%;
        display: flex;
        justify-content: center;
    }

    .h1 {
        font-size: 1.5rem;
        font-family: Noto Sans;
        font-weight: 500;
        padding-bottom: 20px;
    }

    .infoText p {
        font-family: Roboto;
        font-size: 0.87rem;
        font-weight: 400;

    }

    .text {
        line-height: 24px;
        margin-bottom: 25px;
        width: 90%;
    }

    #brOne {
        display: none;
    }

    #brTwo {
        display: none;
    }
    .aboutBtn {
        font-family: Noto Sans;
        font-size: 0.87rem;
        font-weight: 400;
        text-align: center;
        margin-top: -5px;
        width: 131px;
        height: 40px;
        border: 3px solid var(--primary);
        background-color: transparent;
        color: var(--primary);
        transition: 0.1s linear;
    }

    .mainPicture {
        margin-left: 18%;
        width: 371px;
        height: 357px;
        margin-top: 110px;
    }

    .backPicture {
        margin-left: 8%;
        width: 371px;
        height: 357px;
        margin-top: 90px;
    }

    .container-four {
        height: 414px;
        width: auto;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        background-position: bottom left 5px, bottom right 15px;
        background-image: url(/img/contactsBack3.svg), url(/img/contactsBack4.svg);
        background-repeat: no-repeat;

    }

    .inputText {
        text-align: center;
        font-family: Noto Sans;
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 28px;
        padding-left: 30px;
        text-indent: 10px;
    }

    .nameInp {
        width: 415px;
        height: 50px;
        color: var(--primary);
        font-family: Roboto;
        font-size: 0.87rem;
        font-weight: 400;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .phoneInp {
        width: 415px;
        height: 50px;
        color: var(--primary);
        font-family: Roboto;
        font-size: 0.87rem;
        font-weight: 400;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .agreementText {
        font-family: Roboto;
        font-size: 0.87rem;
        font-weight: 400;
        color: #fff;
    }

    .sendBtn {
        color: #FEFEFE;
        font-family: Noto Sans;
        font-size: 0.87rem;
        font-weight: 400;
        width: 130px;
        height: 40px;
        text-align: center;
        background-color: transparent;
        border: 3px solid #fff;
        transition: 0.1s linear;
    }

    .container-five {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;


    }

    .Map {
        width: 100%;
        height: 50%;
    }

    .mapInfo {
        display: grid;

        padding-left: 137px;
        grid-template-columns: 1.1fr 1fr;
        align-content: center;
        grid-column-gap: 1px;

    }
    #MapText {
        width: 100%;
        font-family: Noto Sans;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 25px;
        color: var(--primary);
        margin-left: 20%;
        margin-top: 30px;
    }
    .containerMapInfo {
        width: 100%;
        height: 278px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mapInfoContainerOne {
        display: grid;
        grid-template-columns: 8% 92%;
        grid-template-rows: repeat(4, 40px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        color: #000;
        font-family: Roboto;
        font-size: 0.87rem;
        font-weight: 400;
        margin-left: 80px;
        margin-bottom: 20px;

    }

    .mapInfoContainerOne a {
        text-decoration: underline;
        color: black;
    }


    .mapInfoContainerTwo {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: repeat(4, 30px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        color: #000;
        font-family: Roboto;
        font-size: 0.87rem;
        font-weight: 400;
        margin-right: 30px;
        margin-top: 0px;
    }
    .mapInfoContainerTwo>span {
        color: var(--primary);
        font-weight: 500;
    }
    footer {
        height: 220px;
        background-image: url(/img/footerBack.svg);
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .footerText {
        margin-left: 27px;
        color: #fff;
        font-family: Roboto;
        font-size: 0.875rem;
        font-weight: 400;
        margin-bottom: 10px;
    }


}

@media (max-width: 480px) {
    .container {
        margin: 0px 0px 0px 0px;
    }

    .navbar li {
        display: inline-block;
        margin-right: 3px;
        position: relative;
    }

    .navbar {
        font-size: 3px;
    }

    .logo {
        width: 27px;
        height: 32px;
    }

    .header-name {
        font-size: 16px;
    }

    .header-line {
        height: 56px;
    }

    .header-info>img {
        margin-right: 12px;
    }

    .navbar li a::before {
        bottom: -20px;
    }
}

