@font-face {
    font-family: "Muller";
    font-weight: 400;
    src: url(/fonts/MullerRegular.woff) format("woff"),
        url(/fonts/MullerRegular.woff2) format("woff2");
}

@font-face {
    font-family: "Muller";
    font-weight: 500;
    src: url(/fonts/MullerMedium.woff) format("woff"),
        url(/fonts/MullerMedium.woff2) format("woff2");
}

@font-face {
    font-family: "LetoSans";
    font-weight: 400;
    src: url(/fonts/LetoSansRegular.woff) format("woff"),
        url(/fonts/LetoSansRegular.woff2) format("woff2");
}

@font-face {
    font-family: "LetoSans";
    font-weight: 700;
    src: url(/fonts/LetoSansBold.woff) format("woff"),
        url(/fonts/LetoSansBold.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.header{
    display: flex;
    flex-direction: column;
    
}

:root {
    --primary: #182B5A;
}

a {
    text-decoration: none;
}

.logo {
    width: 42;
    height: 49;

}

.header-line {
    margin-left: 100px;
    width: auto;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-info {
    display: flex;
    align-items: center;
}

.header-info>img {
    margin-right: 20px;
    margin-top: -10px;
}

.header-name {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.38rem;
    font-family: LetoSans;
    font-weight: 400;
}

.navbar {
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 1reem;
    font-family: Roboto;
    font-weight: 700;
}

.navbar li {
    display: inline-block;
    margin-right: 49px;
    position: relative;
}


.navbar li:last-child {
    margin-right: 100px;
} 

.navbar li a {
    color: #000000;
}

.navbar li a::before {
    content: "";
    bottom: -32px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transition: 0.2s;
    transform: scaleX(0);
}

.navbar li a:hover::before {
    transform: scaleX(1);
}

.navbar li a:hover {
    color: #383838;
}

.slider {
    position: relative;
    width: 100%;
    height: 774px;
    background-size: cover;
    overflow: hidden;

}



.navigation {
    bottom: 50px;
    position: absolute;
    left: 175px;

    transform: translateX(-50%);
    display: flex;
}

.bar {
    position: relative;

    height: 4px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #000000;
    opacity: 0.5;
    transition: all .4s ease;
}



.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
}


input[name="item"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all 0.6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#i1:checked~.s1 {
    margin-left: 0;
}


#i2:checked~.s1 {
    margin-left: -25%;
}

#i3:checked~.s1 {
    margin-left: -50%;
}

#i4:checked~.s1 {
    margin-left: -75%;
}

.container-one-info {
    margin-left: 100px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 40%;
}


.container-one-text {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary);
    font-family: Noto Sans;

}

.container-one-btn {
    z-index: 2;
    text-transform: uppercase;
    background-color: transparent;
    padding: 13px 34px;
    top: 50%;

    font-size: 1rem;
    font-family: LetoSans;
    font-weight: 400;
    border: solid 3px;
    border-color: var(--primary);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.1s linear;

}

.container-one-btn:hover {
    background-color: var(--primary);
    color: #fff;
    transform: scale(0.95);
}

.container-two {

}

.images {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 739px;
}



/* .btnOne {
    position: absolute;
    z-index: 5;
    margin-left: 9%;
    margin-top: 15%;
    pointer-events: none; 
} */

/* .Btn {
    z-index: 5;
    font-size: 1rem;
    font-family: Noto Sans;
    font-weight: 400;
    background-color: transparent;
    padding: 16px 48px;
    border: solid 3px;
    border-color: #fff;
    text-align: center;
    cursor: pointer;
    color: #fff;
} */

/* .Btn {
    padding: 16px 48px;
    background-color: transparent;
    color: #fff;
} */

.BackImg1 {
    width: 54%;
    height: 739px;
    background-image: url(/img/largeOfficeBuildings.png);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}



.vectorOne {
    background-image: url(/img/vectorTwo.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 88%;
    height: 130px;
    z-index: 2;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3s ease;

}

.HoverDivOne {
    position: absolute;
    width: 54%;
    height: 739px;
    z-index: 5;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    background-color: rgba(24, 43, 90, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.HoverDivOne:hover {
    opacity: 1;
}

.HoverDivOne:hover ~ .BackImg1 .vectorOne {
    transform: translateY(100%);
}

.positionOne {
    margin-left: 18%;
    margin-top: 30%;
    display: block;
    justify-content: center;
}

.Text-one {
    z-index: 5;
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
}

.BtnOne {
    font-size: 1rem;
    font-family: Noto Sans;
    font-weight: 400;
    background-color: transparent;
    border: solid 3px;
    border-color: #fff;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin-left: 11%;
    text-transform: uppercase;
    width: 320px;
    height: 55px;
}

.BtnOne:hover {
    transition: 0.1s linear;
    background-color: #fff;
    color: var(--primary);
    transform: scale(0.95);
    font-weight: 500;
}

.vectorTwo {
    background-image: url(/img/vectorTwo.svg);
    position: absolute;
    top: 0;
    right: 0;
    width: 88%;
    height: 130px;
    z-index: 2;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.HoverDivTwo {
    position: absolute;
    top: 0;
    right: 0;
    width: 54%;
    height: 739px;
    z-index: 2;
    background-color: rgba(24, 43, 90, 0.9);
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.HoverDivTwo:hover {
    opacity: 1;
}

.HoverDivTwo:hover ~ .BackImg2 .vectorTwo {
    transform: translateY(-100%);
}

.positionTwo {
    position: absolute;
    right: 0;
    margin-right: 29%;
    margin-top: 30%;
    display: block;
    justify-content: center;
}

.Text-two {
    z-index: 5;
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    color: #fff;
    margin-bottom: 25px;
}

.BtnTwo {
    font-size: 1rem;
    font-family: Noto Sans;
    font-weight: 400;
    background-color: transparent;
    border: solid 3px;
    border-color: #fff;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin-left: 8%;
    text-transform: uppercase;
    width: 320px;
    height: 55px;
}

.BtnTwo:hover {
    transition: 0.1s linear;
    background-color: #fff;
    color: var(--primary);
    transform: scale(0.95);
    font-weight: 500;
} 

.BackImg2 {
    width: 54%;
    height: 739px;
    background-image: url(/img/houseIsolatedInTheField.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: -230px; */
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}



.imgOneText {

    z-index: 3;
    bottom: 0;
    left: 0;
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    color: #fff;

}

.imgTwoText {
    z-index: 3;
    top: 0;
    right: 0;
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    color: #fff;
}

.border-container {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    z-index: 3;
    clip-path: polygon(53.5% 0, 54% 0, 46% 100%, 45.5% 100%);
    pointer-events: none; 
}

.container-three {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 740px;
}

.pictures {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}

.infoText {
    margin-left: 56px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.h1 {
    font-size: 2.2rem;
    font-family: Noto Sans;
    font-weight: 500;
    padding-bottom: 30px;
}

.infoText p {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
}

.text {
    height: 251px;
    line-height: 27px;
    margin-bottom: 25px;
    width: 86%;
}

.aboutBtn {
    font-family: Noto Sans;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 165px;
    height: 50px;
    border: 3px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    transition: 0.1s linear;
}

.aboutBtn:hover {
    background-color: var(--primary);
    color: #fff;
    transform: scale(0.95);
}
.backPicture {
    background-color: var(--primary);
    position: absolute;
    margin-left: 135px;
    margin-top: 100px;
    z-index: 3;
}

.mainPicture {
    background-color: var(--primary);
    position: absolute;
    margin-left: 164px;
    margin-top: 130px;
    z-index: 4;
}


@media (max-width: 1366px) {
    .slider {
        position: relative;
        width: 100%;
        height: 600px;
        background-size: cover;
        overflow: hidden;
    }


    .navbar li {
        display: inline-block;
        margin-right: 25px;
        position: relative;
    }

    .logo {
        width: 35px;
        height: 41px;

    }

    .header-name {
        font-size: 20px;
    }

    .navbar {
        font-size: 15px;
    }

    .header-line {
        height: 80px;
    }

    .header-info>img {
        margin-right: 14px;
    }

    .navbar li a::before {
        bottom: -29px;
    }


}

@media (max-width: 1024px) {
    .container {
        margin: 0px 55px 0px 40px;
    }

    .navbar li {
        display: inline-block;
        margin-right: 23px;
        position: relative;
    }

    .navbar {
        font-size: 13px;
    }

    .logo {
        width: 27px;
        height: 32px;
    }

    .header-name {
        font-size: 16px;
    }

    .header-line {
        height: 56px;
    }

    .header-info>img {
        margin-right: 12px;
    }

    .navbar li a::before {
        bottom: -20px;
    }

    @media (max-width: 480px) {
        .container {
            margin: 0px 0px 0px 0px;
        }

        .navbar li {
            display: inline-block;
            margin-right: 3px;
            position: relative;
        }

        .navbar {
            font-size: 3px;
        }

        .logo {
            width: 27px;
            height: 32px;
        }

        .header-name {
            font-size: 16px;
        }

        .header-line {
            height: 56px;
        }

        .header-info>img {
            margin-right: 12px;
        }

        .navbar li a::before {
            bottom: -20px;
        }
    }
}